@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
:root{
    --primary-color:#738EA9;
    --secondary-color: #000;
}

*{
    margin: 0;
    font-family: 'News Cycle', sans-serif;
  }

body{
    background-image: url("./pics/background2.png");
    background-repeat:repeat;
    font-family: 'News Cycle', sans-serif;
    font-size: 12px;
       
}

.menuheader{
    height: 80px;
    background-color: #738EA9;
    display: flex;
    margin: 0;
    
}

.headerlogo{
    height: 65px;
    width: 60px;
    margin-left: 30px;
    padding: 6px;
}

ul{
    list-style: none;
    position: absolute;
    margin-left: 50%;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    padding: 30px;
    padding-right:0px;
    margin-top:0px;
    width:810px;
    height:20px;

    
}

li a{
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    color: #000;
    letter-spacing: 2px;
    margin-left: 28px;;
    margin-right: auto;
   
   
}

li a:hover{
    background-color: rgb(255, 255, 255);
    color: #738EA9;
}


a {
    position: relative;
    color: #738EA9;
  }

a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4c6986;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out

}

a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

main{
    height:890px;
    text-align: center;
      letter-spacing: 1px;
      margin-left: auto;
      margin-right: auto;
      margin-top:auto;
      width:1080px;

     
}
  


h1.toptitle{
    text-align: center;
    font-size:80px;
    margin-top: 70px;
    margin-bottom: 5px;
  
}

hr.topline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:65%;
}

.callcontainer{
    display: flex;
    position: relative;
     margin-left: auto;
    margin-right: auto;
    
    width:600px;
}

p.callus{
    font-size:50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

p.world{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: rgb(236, 0, 0);
    width:150px;
}

h2{
    font-size:50px;
    margin-left:40px;
    position: relative;
    margin-top:20px;
    

}

.box{
    width:700px;
    position: relative;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
   
}


.visitcontainer{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
    width:700px;
}

img.call{
    height:110px;
   
}

p.visitus{
    font-size:25px;
    position: relative;
    margin-top:50px;
    font-weight: bolder;
    width:700px;

}

.cookies{
    font-size: 7px;
    letter-spacing: 3px;
    margin-top:5px;
}
footer{
    height: 40px;
    background-color: #738EA9;
    text-align: center;
    position: relative;
    padding-top: 5px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: lighter;
}

@media screen and (max-width: 360px) {

.menuheader{
    height: 155px;
    background-color: #738EA9;
    
}

.headerlogo{
    height: 85px;
    width: 85px;
    position:relative;
    left: 80%;
    padding: 6px;
}

ul{
  font-size: 11px;
  position: relative;
  left:-47%;
  top:53%;
}

li a{
    background-color: rgb(255, 255, 255);
    margin-left: 19px;
    padding:4px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
}

li a:hover{
    background-color: rgb(255, 255, 255);
    color: #738EA9;
}


a::after{
    display:none;

}

a:hover::after{
    display:none;

}

h1.toptitle{
    text-align: center;
    font-size:60px;
    margin-top: 70px;
    margin-bottom: 5px;
}


hr.topline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    margin-top:5px;
}



.callcontainer{
    position: relative;
    left:10%;
    width:300px;
    display:block;
}

img.call{
   display:block;
   position: relative;
   left:30%;
}
p.callus{
   font-size: 30px;
   position: relative;
   left:30%;
   top:-3%;
  
   width:110px;
}

p.world{
    position: relative;
    left:35%;
    color: rgb(236, 0, 0);
    top:10%;
    width:150px;
    font-weight: bold;
   
}

h2{
    background-color: #fff;
    font-size:20px;
    left:1%;
    position: relative;
    margin-top:15px;
    width:200px;
    text-align: center;
    padding:5px;
    margin-bottom:5px;
    
   
}

.box{
    width:310px;
    position: relative;
    left:6%;
    margin-bottom:50px;
    text-align: justify;
   
}


.visitcontainer{
    position: relative;
    left:15%;
    width:280px;
    display:block;
   
}
p.visitus{
    font-size:20px;
    position: relative;
    margin-top:50px;
    font-weight: bolder;
    text-align: center;
    width:230px;
    left:2%;

}


  
.cookies{
    font-size: 10px;
    letter-spacing: 3px;
    margin-top:10px;
}

footer{
    height: 80px;
    background-color: #738EA9;
    text-align: center;
    position: relative;
    padding-top: 10px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: lighter;
}

}

@media screen and (max-width: 1024px) {
 
    body{
        background-image: url("./pics/background2.png");
        background-repeat: repeat;
        font-family: 'News Cycle', sans-serif;
    }
    
    .menuheader{
        height: 130px;
        background-color: #738EA9;
        display: flex;
        
    }
    
    .headerlogo{
        height: 65px;
        width: 60px;
        margin-left: 40px;
        padding: 6px;
        margin-top:28px;
    }
    
    ul{
        list-style: none;
        position: absolute;
        display: flex;
        padding: auto;
        margin-right:70px;
        margin-top:65px;
        font-size: 10px;
        
    }
    
    li a{
        background-color: rgb(255, 255, 255);
        margin-left: 35px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        text-decoration: none;
        color: #000;
        letter-spacing: 2px;
    }
    
    li a:hover{
        background-color: rgb(255, 255, 255);
        color: #738EA9;
    }

    main{
        height:934px;
    }

    h1.toptitle{
        text-align: center;
        font-size:80px;
        margin-top: 250px;
        margin-bottom: 5px;
      
    }
    
    hr.topline{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }
    
    .callcontainer{
        display: flex;
        position: relative;
        left:25%;
        
        width:600px;
    }
    
    p.callus{
        font-size:50px;
        position: relative;
        margin-top:20px;
    }
    
    p.world{
        position: relative;
        left:35%;
        color: rgb(236, 0, 0);
        top:0%;
        width:150px;
    }
    
    h2{
        font-size:50px;
        margin-left:40px;
        position: relative;
        margin-top:20px;
        
    
    }
    
    .box{
        width:400px;
        position: relative;
        left:25%;
        margin-bottom:50px;
       
    }
    
    
    .visitcontainer{
        display: flex;
        position: relative;
        left:25%;
       
        width:600px;
    }
    
    img.call{
        height:110px;
       
    }
    
    p.visitus{
        font-size:25px;
        position: relative;
        margin-top:50px;
        font-weight: bolder;
    
    }
    
}