@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url('http://fonts.cdnfonts.com/css/quicksand');
:root{
    --primary-color:#738EA9;
    --secondary-color: #000;
}

*{
    margin: 0;
    font-family: 'News Cycle', sans-serif;
  }

body{
    background-image: url("./pics/background2.png");
    background-repeat:repeat;
    font-family: 'News Cycle', sans-serif;
    font-size: 12px;
       
}
.menuheader{
    height: 80px;
    background-color: #738EA9;
    display: flex;
    
}

.headerlogo{
    height: 65px;
    width: 60px;
    margin-left: 30px;
    padding: 6px;
    

}

ul{
    list-style: none;
    position: absolute;
    margin-left: 50%;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    padding: 30px;
    padding-right:0px;
    margin-top:0px;
    width:810px;
    height:20px;
    
}

li a{
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    color: #000;
    letter-spacing: 2px;
    margin-left: 28px;;
    margin-right: auto;
   
   
}

li a:hover{
    background-color: rgb(255, 255, 255);
    color: #738EA9;
}


a {
    position: relative;
    color: #738EA9;
  }

a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4c6986;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out

}

a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}



a {
    position: relative;
    color: #738EA9;
  }

a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4c6986;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out

}

a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


h1.toptitle{

    text-align: center;
    font-size:80px;
    margin-top: 100px;
    margin-bottom: 5px;
  
}

h1.middletitle{
    text-align: center;
    font-size:80px;
    margin-bottom: 0px;
    margin-top:100px;
    
}

hr.topline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%
}


.ourandroids{
    position: relative;
    margin-bottom:60px ;
   
    width:1920px;
}
.andriodprof{
    margin-top:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:1920px;
}
.colorpalette{
    margin-top:5px;
    display: block;
    margin-left: 73%;
    margin-right: auto;
    width:150px;
}

h3.androidmodel{
    margin-left: 0px;
    font-size:30px;
    font-style: normal;
    line-height: 23px;
    margin-left: auto;
    margin-right: auto;
    width:1250px;
}
h1.meetandroid{
    font-size:70px;
    margin-left: 0px;
    line-height: 83px;
    margin-left: auto;
    margin-right: auto;
    width:1250px;
}
.box{
    text-align: center;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    width:1250px;
}

.box p{
    text-align: justify;
}




.cookies{
    font-size: 7px;
    letter-spacing: 3px;
    margin-top:5px;
}
footer{
    height: 40px;
    background-color: #738EA9;
    text-align: center;
    position: relative;
    padding-top: 5px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: lighter;
}

/*mobile 360*/
@media(min-width: 300px) and (max-width: 700px){

    body{
        background-image: url("./pics/background2.png");
        background-repeat: repeat;
        font-family: 'News Cycle', sans-serif;
       
    }
    
    
    .menuheader{
        height: 90px;
        background-color: #738EA9;
        display: flex;
        
    }
    
    .headerlogo{
       display:none;
    
    }
    
    ul{
        list-style: none;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        display: flex;
        padding: 5px;
        padding-right:10px;
        margin-top:43px;
        width:345px;
        height:30px;
        
    }
    
    li a{
        background-color: rgb(255, 255, 255);
        padding-left: 10px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        color: #000;
        letter-spacing: 2px;
        margin-left: 12px;
        margin-right: auto;
        margin-top:5px;
        
    }
    
    li a:hover{
        background-color: rgb(255, 255, 255);
        color: #738EA9;
    }
    
    
    a {
        position: relative;
        color: #738EA9;
      }
    
    a::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #4c6986;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out
    
    }
    
    a:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    
    
    
    h1.toptitle{

        text-align: center;
        font-size:30px;
        margin-top: 100px;
        margin-bottom: 5px;
      
    }
    
    h1.middletitle{
        text-align: center;
        font-size:50px;
        margin-bottom: 0px;
        margin-top:100px;
    }
    
    hr.topline{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:360;
        width:50%;
    }
    
    
    .ourandroids{
        position: relative;
        margin-bottom:60px ;
        width:360px;
       
    }
    .andriodprof{
        margin-top:70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:360px;
    }
    .colorpalette{
        margin-top:5px;
        display: block;
        margin-left: 70%;
        margin-right: auto;
        width:100px;
        
    }
    
    h3.androidmodel{
        font-size:20px;
        font-style: normal;
        line-height: 13px;
        margin-left: auto;
        margin-right: auto;
        width:350px;
       
    }
    h1.meetandroid{
        font-size:50px;
        margin-left: 0px;
        line-height: 83px;
        margin-left: auto;
        margin-right: auto;
        width:350px;
      
    }
    .box{
        text-align: center;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        padding-left: 10px;
        padding-right: 10px;
        width:330px;
       
    }
    
    .box p{
        text-align: justify;
    }

    
    .cookies{
        font-size: 7px;
        letter-spacing: 3px;
        margin-top:5px;
        
    }
    
    footer{
        height: 40px;
        background-color: #738EA9;
        text-align: center;
        position: relative;
        padding-top: 5px;
        color: #fff;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: lighter;
    }
}

/*Ipad*/
@media(min-width: 701px) and (max-width: 1024px){

    body{
        background-image: url("./pics/background2.png");
        background-repeat: repeat;
        font-family: 'News Cycle', sans-serif;
       
    }
    
    
    .menuheader{
        height: 90px;
        background-color: #738EA9;
        display: flex;
        
    }
    
    .headerlogo{
      height:80px;
      width:70px;
    
    }
    
    ul{
        list-style: none;
        position: absolute;
        margin-left: 43%;
        margin-right: auto;
        margin-top: auto;
        display: flex;
        padding: 5px;
        padding-right:0px;
        margin-top:43px;
        width:350px;
        height:30px;


        
    }
    
    li a{
        background-color: rgb(255, 255, 255);
        padding-left: 10px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 6px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        color: #000;
        letter-spacing: 2px;
        margin-left: 10px;
        margin-right: auto;
        margin-top:5px;
        
    }
    
    li a:hover{
        background-color: rgb(255, 255, 255);
    }
    
    a {
        position: relative;
        color: #738EA9;
      }
    
    a::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #4c6986;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out
    
    }
    
    a:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    
    
    
    h1.toptitle{

        text-align: center;
        font-size:60px;
        margin-top: 100px;
        margin-bottom: 5px;
      
    }
    
    h1.middletitle{
        text-align: center;
        font-size:60px;
        margin-bottom: 0px;
        margin-top:100px;
    }
    
    hr.topline{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:700px;
        width:50%;
    }
    
    
    .ourandroids{
        position: relative;
        margin-bottom:60px ;
        width:690px;
       
    }
    .andriodprof{
        margin-top:70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:701px;
    }
    .colorpalette{
        margin-top:5px;
        display: block;
        margin-left: 80%;
        margin-right: auto;
        width:100px;
        
    }
    
    h3.androidmodel{
        font-size:20px;
        font-style: normal;
        line-height: 13px;
        margin-left: auto;
        margin-right: auto;
        width:690px;
       
    }
    h1.meetandroid{
        font-size:50px;
        margin-left: 0px;
        line-height: 83px;
        margin-left: auto;
        margin-right: auto;
        width:690px;
      
    }
    .box{
        text-align: center;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        padding-left: 10px;
        padding-right: 10px;
        width:680px;
       
    }
    
    .box p{
        text-align: justify;
    }

    
    .cookies{
        font-size: 7px;
        letter-spacing: 3px;
        margin-top:5px;
        
    }
    
    footer{
        height: 40px;
        background-color: #738EA9;
        text-align: center;
        position: relative;
        padding-top: 5px;
        color: #fff;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: lighter;
    }
}
